body{
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.nome1 {
    display: flex;
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nome2{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nome3{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.nome4{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nome5{
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
}