body{
    display: grid;
    min-height: 100vh;
    min-width: 100vh;
    width: auto;
    place-items: center;
    justify-items: center;
    justify-content: center;
}

.nome1 {
    display: grid;
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    grid-template: repeat(3, 1fr) / 1fr;
    align-items: center;
    justify-items: center;
}

.nome2{
    display: grid;
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.nome3{
    display: grid;
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.nome4{
    display: grid;
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.nome5{
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
}