

.nome1 {
    display: flex;
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    align-items: center;
    
}

.nome2{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    flex-flow: column;
    
}

.nome3{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    flex-flow: column;
}

.nome4{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
    flex-flow: column;
}

.nome5{
    display: flex;
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
}